@charset "UTF-8";
html,
body,
div,
span,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
input dl,
dt,
dd,
ol,
ul,
li,
tr,
th,
td,
nav {
  font-family: "Lato", sans-serif;
  font-family: "Noto Sans JP", sans-serif;
}

/* ヘッダー */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 90px;
  background-color: #fff;
}

.header-inner {
  max-width: initial;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 16px;
}
.header-logo-link {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-logo-img {
  width: 180px;
  height: 100%;
  background-color: #22B5BE;
  margin-right: 32px;
}
.header-gnav {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-gnav .c-gnav {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding-right: 10px;
}
.header-gnav .c-gnav li {
  min-width: 98px;
  height: 100%;
  font-size: 14px;
  font-weight: 700;
  padding-inline: 12px;
  letter-spacing: 0.1em;
}
.header-gnav .c-gnav li a {
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-decoration: none;
}
.header-login {
  min-width: 106.5px;
  color: #000;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.1em;
  padding-inline: 10px;
  padding: 1.4rem;
  padding-top: calc(1.4rem + 8px);
  padding-bottom: calc(1.4rem - 8px);
  margin-right: 10px;
  margin-bottom: 16px;
  border-radius: 0 0 8px 8px;
  background-color: #EFEFEF;
}
.header-signup {
  min-width: 132.4px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.1em;
  padding-inline: 16px;
  padding: 1.4rem;
  padding-top: calc(2rem + 8px);
  padding-bottom: calc(2rem - 8px);
  margin-bottom: 16px;
  border-radius: 0 0 8px 8px;
  background-color: #22B5BE;
}
.header-signup img {
  margin-right: 10px;
  width: 16px;
  height: auto;
}

.hamburger {
  display: none;
}

.page-title {
  position: relative;
  width: 100%;
  height: 128px;
  padding: 0 80px;
  margin-top: 90px;
  overflow: hidden;
  display: flex;
  justify-content: start;
  align-items: center;
  background-image: linear-gradient(90deg, #47a384, #20b6bf);
}
.page-title-txt h1 {
  color: #fff;
  font-size: 26px;
}
.page-title-txt p {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin-top: 10px;
}
.page-title-bg {
  position: absolute;
  width: 1110px;
  height: 168px;
  bottom: 0;
  right: 0;
  background-image: url(../images/bg_page_title.png);
  background-size: cover;
}

.footer {
  width: 100vw;
  background-color: #3E3F40;
  padding-top: 48px;
  padding-bottom: 24px;
}
.footer-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}
.footer-contents {
  display: grid;
  grid-template-columns: 170px 1fr;
}
.footer-logo {
  height: 60px;
  background-color: #20b6bf;
}
.footer-gnav {
  max-width: initial;
  display: flex;
  align-items: center;
}
.footer .r-gnav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}
.footer .r-gnav li {
  color: #cccccc;
  height: 60px;
  font-size: 14px;
  font-weight: 500;
  padding-left: 32px;
  letter-spacing: 0.1em;
}
.footer .r-gnav li a {
  color: #cccccc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-decoration: none;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}
.footer-adress {
  color: #cccccc;
  font-size: 12px;
  font-weight: 500;
}
.footer-policy {
  color: #cccccc;
  font-size: 12px;
  font-weight: 500;
  text-decoration: underline;
}
.footer .copyright {
  width: 100%;
  text-align: center;
  color: #cccccc;
  font-size: 12px;
  font-weight: 500;
  margin-top: 32px;
}

@media screen and (max-width: 1000px) {
  header {
    height: 64px;
  }

  .header-inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 4px;
  }
  .header-logo-img {
    width: 120px;
    height: 100%;
  }
  .header-gnav {
    align-items: start;
  }
  .header-gnav .c-gnav {
    display: none;
  }
  .header-login {
    min-width: 0px;
    height: 56px;
    font-size: 12px;
    padding-inline: 8px;
    padding: 1.4rem;
    padding-top: calc(1.4rem + 4px);
    padding-bottom: calc(1.4rem - 4px);
    margin-right: 10px;
    margin-bottom: 8px;
    border-radius: 0 0 8px 8px;
    background-color: #EFEFEF;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.14);
  }
  .header-signup {
    min-width: 0px;
    height: 56px;
    font-size: 12px;
    padding-inline: 8px;
    padding: 1.4rem;
    padding-top: calc(1.4rem + 4px);
    padding-bottom: calc(1.4rem - 4px);
    margin-right: 10px;
    margin-bottom: 8px;
    border-radius: 0 0 8px 8px;
    background-color: #22B5BE;
    box-shadow: 2px 2px 4px rgba(102, 197, 165, 0.6);
  }
  .header-signup img {
    margin-right: 8px;
    width: 14px;
    height: auto;
  }

  .hamburger {
    display: flex;
    align-items: center;
  }
  .hamburger-btn {
    position: relative;
    z-index: 100;
    width: 56px;
    height: 56px;
    padding: 10px;
    cursor: pointer;
    background-color: #22B5BE;
    border-radius: 4px;
    border: 2px solid #22B5BE;
    outline: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    box-shadow: 2px 2px 4px rgba(102, 197, 165, 0.6);
  }
  .hamburger-btn-center {
    opacity: 1;
    display: block;
    width: 32px;
    height: 2px;
    background-color: #fff;
    transition: 0.2s ease-out;
  }
  .hamburger-btn:before,
.hamburger .hamburger-btn:after {
    content: "";
    position: absolute;
    display: block;
    width: 32px;
    height: 2px;
    background-color: #fff;
    transition: 0.2s ease-out;
  }
  .hamburger-btn:before {
    top: 16px;
  }
  .hamburger-btn:after {
    top: 34px;
  }
  .hamburger-btn.active:before {
    transform: translateY(9px) rotate(45deg);
  }
  .hamburger-btn.active:after {
    transform: translateY(-9px) rotate(-45deg);
  }
  .hamburger-btn-center.active {
    opacity: 0;
  }
  .hamburger-drawer {
    display: none;
    position: fixed;
    top: 64px;
    right: 0;
    border-radius: 12px 0 0 12px;
    background-color: #EFEFEF;
  }
  .hamburger-inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 16px 16px;
  }
  .hamburger-menu a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 24px;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
  }
  .hamburger-menu a.current {
    color: #22B5BE;
  }

  .page-title {
    margin-top: 64px;
  }
  .page-title-bg {
    position: absolute;
    width: 1000px;
    height: 170px;
    bottom: 0;
    right: 0;
    background-image: url(../images/bg_page_title.png);
    background-size: cover;
  }
}
@media screen and (max-width: 767px) {
  header {
    height: 56px;
  }

  .header-inner {
    padding-inline: 8px;
  }
  .header-logo-img {
    width: 76px;
    height: 100%;
  }
  .header-login {
    min-width: 0px;
    height: 48px;
    font-size: 11px;
    padding: 10px;
    padding-top: 14px;
    padding-bottom: 6px;
    margin-right: 10px;
    margin-bottom: 8px;
    border-radius: 0 0 8px 8px;
    background-color: #EFEFEF;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.14);
  }
  .header-signup {
    min-width: 0px;
    height: 48px;
    font-size: 11px;
    padding-inline: 8px;
    padding: 10px;
    padding-top: 14px;
    padding-bottom: 6px;
    margin-right: 10px;
    margin-bottom: 8px;
    border-radius: 0 0 8px 8px;
    background-color: #22B5BE;
    box-shadow: 2px 2px 4px rgba(102, 197, 165, 0.6);
  }
  .header-signup img {
    margin-right: 4px;
    width: 11px;
    height: auto;
  }

  .hamburger-btn {
    width: 40px;
    height: 40px;
    padding: 4px;
    margin-top: 4px;
  }
  .hamburger-btn-center {
    width: 28px;
  }
  .hamburger-btn:before,
.hamburger .hamburger-btn:after {
    width: 28px;
  }
  .hamburger-btn:before {
    top: 8px;
  }
  .hamburger-btn:after {
    top: 26px;
  }
  .hamburger-drawer {
    top: 56px;
    right: 0;
    border-radius: 8px 0 0 8px;
  }
  .hamburger-inner {
    padding: 20px 20px;
  }
  .hamburger-menu a {
    padding: 20px;
    color: #000;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
  }

  .page-title {
    height: 80px;
    padding: 0 8px;
    margin-top: 56px;
  }
  .page-title-txt h1 {
    font-size: 18px;
  }
  .page-title-txt p {
    color: #fff;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    margin-top: 8px;
  }
  .page-title-bg {
    position: absolute;
    width: 767px;
    height: 120px;
    bottom: 0;
    right: 0;
    background-image: url(../images/bg_page_title.png);
    background-size: cover;
  }

  .footer {
    width: 100vw;
    background-color: #3E3F40;
    padding-top: 32px;
    padding-bottom: 16px;
  }
  .footer-inner {
    margin: 0 auto;
    padding: 0 12px;
  }
  .footer-contents {
    display: block;
  }
  .footer-logo {
    width: 120px;
    height: 56px;
    background-color: #20b6bf;
  }
  .footer-gnav {
    max-width: initial;
    display: block;
  }
  .footer .r-gnav {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 16px;
  }
  .footer .r-gnav li {
    height: 20px;
    font-size: 13px;
    font-weight: 500;
    padding-left: 0px;
    letter-spacing: 0.1em;
    margin: 6px 0;
    margin-right: 24px;
  }
  .footer .r-gnav li a {
    color: #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-decoration: none;
  }
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
  }
  .footer-adress {
    color: #cccccc;
    font-size: 12px;
    font-weight: 500;
  }
  .footer-policy {
    color: #cccccc;
    font-size: 12px;
    font-weight: 500;
    text-decoration: underline;
  }
  .footer .copyright {
    width: 100%;
    text-align: center;
    color: #cccccc;
    font-size: 12px;
    font-weight: 500;
    margin-top: 32px;
  }
}
