.top-morebtn {
  display: block;
  width: 348px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  letter-spacing: 0.26em;
  color: #fff;
  background-color: #22b5be;
  box-shadow: 2px 2px 8px 2px rgba(102, 197, 165, 0.6);
  border-radius: 35px;
  margin: 100px auto 0;
}
@media screen and (max-width: 1000px) {
  .top-morebtn {
    margin-top: 48px;
  }
}
@media screen and (max-width: 767px) {
  .top-morebtn {
    width: 300px;
    height: 60px;
    line-height: 60px;
    margin-top: 48px;
  }
}

.formstep {
  display: flex;
  width: 400px;
  position: relative;
  margin: 64px auto;
  text-align: center;
  overflow: hidden;
  list-style-type: none;
}
.formstep li {
  font-size: 20px;
  font-weight: 700;
  position: relative;
  color: #ccc;
  width: 33.333%;
}
.formstep li span {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  background: #ccc;
  color: #fff;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 12px;
  width: 64px;
  line-height: 64px;
  border-radius: 50%;
}
.formstep li:after {
  background: #ccc;
  content: "";
  width: calc(100% - 64px);
  height: 4px;
  position: absolute;
  left: calc(-50% + 32px);
  top: 32px;
}
.formstep li:first-child:after {
  display: none;
}
.formstep .current {
  color: #22B5BE;
}
.formstep .current span {
  background: #22B5BE;
}

.formset {
  display: block;
  margin-top: 32px;
}
.formset-title {
  font-size: 18px;
  font-weight: 500;
}
.formset-title span {
  color: red;
}
.formset-contents {
  font-size: 16px;
  margin-top: 16px;
  line-height: 1.6;
}
.formset-contents input {
  font-size: 16px;
  letter-spacing: 0.08em;
  width: 480px;
  padding: 16px;
  border: 1px solid #3E3F40;
  border-radius: 8px;
}
.formset-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}
.formset-confirm-btn {
  width: 180px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  background-color: #22B5BE;
  margin-right: 16px;
  padding: 16px;
  border: 0 solid #fff;
  border-radius: 8px;
}
.formset-login-btn {
  display: inline-block;
  height: 56px;
  line-height: 56px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  background-color: #ccc;
  padding: 0 26px;
  border: 0 solid #fff;
  border-radius: 8px;
}
.formset-fix-btn {
  display: inline-block;
  height: 56px;
  line-height: 56px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  background-color: #ccc;
  padding: 0 26px;
  margin-right: 16px;
  border: 0 solid #fff;
  border-radius: 8px;
}
.formset-register-btn {
  width: 180px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  background-color: #22B5BE;
  padding: 16px;
  border: 0 solid #fff;
  border-radius: 8px;
}

.agreement-txt {
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.6em;
}
.agreement-txt a {
  color: red;
  text-decoration: underline;
}

.thanks {
  width: 100%;
  padding-bottom: 80px;
}
.thanks-inner {
  width: 700px;
  margin: 0 auto;
}
.thanks-heading {
  font-size: 24px;
  text-align: center;
  font-weight: 500;
}
.thanks-txt {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
  margin-top: 48px;
}

@media screen and (max-width: 767px) {
  .formstep {
    width: 240px;
    margin: 16px auto;
  }
  .formstep li {
    font-size: 14px;
  }
  .formstep li span {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    margin-bottom: 12px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
  }
  .formstep li:after {
    background: #ccc;
    content: "";
    width: calc(100% - 40px);
    height: 4px;
    position: absolute;
    left: calc(-50% + 20px);
    top: 20px;
  }

  .formset {
    display: block;
    margin-top: 32px;
  }
  .formset-title {
    font-size: 14px;
    font-weight: 500;
  }
  .formset-contents {
    font-size: 13px;
    margin-top: 12px;
    line-height: 1.6;
  }
  .formset-contents input {
    font-size: 13px;
    letter-spacing: 0.08em;
    width: 280px;
    padding: 10px;
    border: 1px solid #3E3F40;
    border-radius: 8px;
  }
  .formset-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
  }
  .formset-confirm-btn {
    width: 140px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    background-color: #22B5BE;
    margin-right: 14px;
    padding: 14px;
    border: 0 solid #fff;
    border-radius: 8px;
  }
  .formset-login-btn {
    display: inline-block;
    height: 48px;
    line-height: 48px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    background-color: #ccc;
    padding: 0 14px;
    border: 0 solid #fff;
    border-radius: 8px;
  }
  .formset-fix-btn {
    display: inline-block;
    height: 48px;
    line-height: 48px;
    font-size: 13px;
    padding: 0 13px;
    margin-right: 10px;
  }
  .formset-register-btn {
    width: 143px;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    background-color: #22B5BE;
    padding: 14.75px 13px;
    border: 0 solid #fff;
    border-radius: 8px;
  }

  .agreement-txt {
    display: block;
    margin-top: 24px;
    font-size: 12px;
    line-height: 1.8em;
  }

  .thanks {
    padding-bottom: 32px;
  }
  .thanks-inner {
    width: 300px;
    margin: 0 auto;
  }
  .thanks-heading {
    font-size: 16px;
    font-weight: 500;
    margin-top: 32px;
  }
  .thanks-txt {
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    margin-top: 32px;
  }
  .thanks-txt span {
    display: none;
  }
}
