/* Error: expected "{".
 *     ,
 * 880 |         text-decoration: underline;
 *     |                                   ^
 *     '
 *   project/scss/style.scss 880:35  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 880 \2502          text-decoration: underline;\a     \2502                                    ^\a     \2575 \a   project/scss/style.scss 880:35  root stylesheet';
}
