.top {
  overflow: hidden;
}

.mv {
  width: 100%;
  position: relative;
  padding-top: 90px;
}
.mv-inner {
  width: 100%;
  position: absolute;
  top: 200px;
  left: 10vw;
  z-index: 10;
}
.mv-heading {
  display: inline-block;
  letter-spacing: 0.1em;
}
.mv-heading p {
  font-weight: 500;
  font-size: 1.3vw;
}
.mv-heading h2 {
  font-weight: 700;
  font-size: 3.125vw;
  line-height: 1.4em;
  margin-top: 1.8vw;
}
.mv-heading h2 span {
  position: relative;
}
.mv-heading h2 span:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 24%;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(90deg, #d6f1e4, #f3eab5);
}
.mv-object {
  display: flex;
  margin-top: 3.33vw;
}
.mv-object img {
  margin-left: 2.08vw;
  display: block;
  width: 14vw;
  height: 13.8vw;
}
.mv-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mv-btn p {
  font-size: 0.93vw;
  font-weight: 500;
}
.mv-btn a {
  margin-top: 0.833vw;
  width: 18.125vw;
  height: 4.0625vw;
  border-radius: 2.03vw;
  font-size: 1.145vw;
  line-height: 4.0625vw;
  display: block;
  font-weight: 700;
  letter-spacing: 0.08em;
  text-align: center;
  color: #fff;
  background-color: #22b5be;
}
.mv-bg {
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
.mv-bg-r,
.mv .mv-bg-l {
  display: inline-block;
}
.mv-bg-r {
  width: 60vw;
  height: 31.9vw;
}
.mv-bg-l {
  width: 15vw;
  height: 51.9vw;
}

.top-bg {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: flex;
  justify-content: space-between;
}