.main {
  width: 100vw;
}
.main-inner {
  width: 960px;
  margin: 0 auto;
}

.single {
  width: 100%;
}
.single-topbtn-area {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;
}
.single-topbtn {
  box-sizing: border-box;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0px 28px;
  border: 1.5px solid #22b5be;
  border-radius: 10px;
  background-color: #fff;
  color: #22b5be;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
.single-topbtn span {
  color: #22b5be;
  font-size: 14px;
  font-weight: 500;
  margin-right: 14px;
}
.single-update {
  color: #aaa;
  font-size: 14px;
  font-weight: 500;
}
.single-update-time {
  margin-right: 14px;
}
.single-heading {
  font-size: 28px;
  line-height: 1.6em;
  margin-top: 16px;
}
.single-tag {
  display: inline-block;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  background-color: #22b5be;
  border-radius: 6px;
  padding: 10px 16px;
  margin-right: 4px;
  margin-bottom: 8px;
}
.single-tag-area {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
}
.single-img {
  width: 100%;
  height: 480px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 32px;
}
.single-company {
  display: inline-block;
  font-size: 20px;
  letter-spacing: 0.1em;
  font-weight: 700;
  margin-right: 18px;
}
.single-company-url {
  display: block;
  margin-top: 24px;
  font-size: 16px;
  font-weight: 500;
}
.single-company-url a {
  color: #006CFF;
  text-decoration: underline;
  margin-left: 10px;
}
.single-info {
  display: inline-flex;
  justify-content: start;
  align-items: center;
}
.single-area {
  display: inline-flex;
  font-size: 16px;
  font-weight: 500;
  padding-right: 10px;
  border-right: 1.5px solid #000;
}
.single-industry {
  display: inline-flex;
  font-size: 16px;
  font-weight: 500;
  padding-left: 10px;
}
.single-line {
  border-top: 1px solid #aaa;
  margin-top: 40px;
  margin-bottom: 40px;
}
.single-content {
  margin-bottom: 48px;
}
.single-content h3 {
  position: relative;
  color: #22b5be;
  font-size: 24px;
  font-weight: 700;
  padding-left: 24px;
  margin-top: 36px;
  line-height: 1.6em;
}
.single-content h3::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 100%;
  background-color: #22b5be;
}
.single-content p {
  color: #000;
  font-weight: 400;
  line-height: 1.6em;
  font-size: 16px;
  margin-top: 16px;
}
.single-content b {
  display: inline-block;
  font-size: 18px;
  line-height: 1.6em;
  margin: 18px 0;
}
.single-content img {
  max-width: 100%;
  margin-top: 20px;
}
.single-bottombtn-area {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}
.single-bottombtn {
  min-width: 200px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 14px 28px;
  border: 1.5px solid #22b5be;
  border-radius: 10px;
  background-color: #fff;
  color: #22b5be;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
.single-bottombtn span {
  color: #22b5be;
  font-size: 14px;
  font-weight: 500;
  margin-right: 14px;
}

@media screen and (max-width: 1000px) {
  .main {
    width: 100%;
  }
  .main-inner {
    width: 740px;
  }
  .single-topbtn-area {
    margin: 32px 0;
  }
  .single-heading {
    font-size: 22px;
    margin-top: 16px;
  }
  .single-tag {
    font-size: 12px;
    border-radius: 6px;
    padding: 10px 14px;
    margin-right: 4px;
    margin-bottom: 8px;
  }
  .single-tag-area {
    margin-top: 24px;
  }
  .single-img {
    width: 740px;
    height: 49vw;
    margin-top: 16px;
  }
  .single-content {
    margin-bottom: 32px;
  }
  .single-content h3 {
    color: #22b5be;
    font-size: 20px;
    margin-top: 20px;
    line-height: 1.6em;
  }
  .single-content p {
    color: #000;
    font-size: 16px;
    margin-top: 16px;
    line-height: 1.6em;
  }
  .single-content b {
    display: inline-block;
    font-size: 16px;
    line-height: 1.6em;
    margin: 16px 0;
  }
  .single-content img {
    max-width: 100%;
    margin-top: 20px;
  }
  .single-company {
    display: inline-block;
    font-size: 16px;
    margin-right: 16px;
  }
  .single-company-url {
    display: block;
    margin-top: 16px;
    font-size: 14px;
    font-weight: 500;
  }
  .single-company-url a {
    color: #006CFF;
    text-decoration: underline;
    margin-left: 10px;
  }
  .single-area {
    font-size: 14px;
    padding-right: 8px;
    border-right: 1px solid #000;
  }
  .single-industry {
    font-size: 14px;
    padding-left: 8px;
  }
  .single-line {
    border-top: 1px solid #aaa;
    margin-top: 24px;
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 767px) {
  .main {
    width: 100%;
  }
  .main-inner {
    width: 100%;
    padding: 0 10px;
  }
  .single {
    width: 100%;
    position: relative;
  }
  .single-topbtn-area {
    margin: 16px 0 24px;
  }
  .single-topbtn {
    min-width: 130px;
    height: 40px;
    padding: 12px 16px;
    border-radius: 8px;
    font-size: 11px;
  }
  .single-topbtn span {
    font-size: 12px;
    margin-right: 10px;
  }
  .single-heading {
    font-size: 16px;
    line-height: 1.6em;
    margin-top: 16px;
  }
  .single-tag {
    font-size: 12px;
    border-radius: 6px;
    padding: 6px 10px;
    margin-right: 4px;
    margin-bottom: 6px;
  }
  .single-tag-area {
    margin-top: 16px;
  }
  .single-img {
    width: 100%;
    height: 45vw;
    margin-top: 16px;
  }
  .single-content {
    margin-bottom: 32px;
  }
  .single-content h3 {
    font-size: 16px;
    margin-top: 24px;
  }
  .single-content p {
    color: #000;
    font-size: 12px;
    margin-top: 16px;
  }
  .single-content b {
    display: inline-block;
    font-size: 12px;
    line-height: 1.6em;
    margin: 12px 0;
  }
  .single-content img {
    max-width: 100%;
    margin-top: 16px;
  }
  .single-company {
    display: block;
    font-size: 14px;
    margin: 16px 0px 0;
  }
  .single-company-url {
    display: block;
    margin-top: 12px;
    font-size: 12px;
    font-weight: 500;
  }
  .single-company-url a {
    color: #006CFF;
    text-decoration: underline;
    margin-left: 10px;
  }
  .single-area {
    display: block;
    font-size: 12px;
    padding-right: 6px;
    margin-top: 16px;
  }
  .single-industry {
    font-size: 12px;
    padding-left: 6px;
    margin-top: 16px;
  }
  .single-line {
    border-top: 1px solid #aaa;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .single-bottombtn-area {
    margin: 32px 0;
  }
  .single-bottombtn {
    min-width: 180px;
    height: 42px;
    padding: 12px 24px;
    border: 1.5px solid #22b5be;
    border-radius: 10px;
    background-color: #fff;
    color: #22b5be;
    font-size: 11px;
    font-weight: 500;
    cursor: pointer;
  }
  .single-bottombtn span {
    color: #22b5be;
    font-size: 12px;
    font-weight: 500;
    margin-right: 10px;
  }
}