.main {
  width: 100vw;
}
.main-inner {
  width: 960px;
  margin: 0 auto;
}

.case {
  position: relative;
  width: 100%;
  margin: 64px 0;
}
.case h2 {
  color: #000;
  font-size: 20px;
  font-weight: 700;
}
.case-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin-top: 32px;
}
.case-list li {
  display: block;
  width: 310px;
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.14);
  padding-bottom: 24px;
  margin-bottom: 48px;
}
.case-img {
  width: 310px;
  height: 220px;
  position: relative;
}
.case-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.case-tag {
  position: absolute;
  top: 12px;
  left: 8px;
  display: inline-block;
  color: #fff;
  font-size: 14px;
  padding: 8px 16px;
  background-color: #22b5be;
  border-radius: 15px;
}
.case-txt {
  font-size: 15px;
  font-weight: 400;
  line-height: 2;
  margin: 16px 10px;
  padding: 10px;
  background-color: #f9fafc;
  border-radius: 8px;
}
.case-company {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
  margin: 16px 10px 0;
}
.case-link {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.single {
  width: 100%;
}
.single-topbtn-area {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;
}
.single-topbtn {
  width: 180px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0px 28px;
  border: 1.5px solid #22b5be;
  border-radius: 10px;
  background-color: #fff;
  color: #22b5be;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
.single-topbtn span {
  color: #22b5be;
  font-size: 14px;
  font-weight: 500;
  margin-right: 14px;
}
.single-update {
  color: #aaa;
  font-size: 14px;
  font-weight: 500;
}
.single-update-time {
  margin-right: 14px;
}
.single-heading {
  font-size: 28px;
  line-height: 1.6em;
  margin-top: 16px;
}
.single-tag {
  display: inline-block;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  background-color: #22b5be;
  border-radius: 6px;
  padding: 10px 16px;
  margin-right: 4px;
  margin-bottom: 8px;
}
.single-tag-area {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
}
.single-img {
  width: 100%;
  height: 480px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 32px;
}
.single-company {
  display: inline-block;
  font-size: 20px;
  letter-spacing: 0.1em;
  font-weight: 700;
  margin-right: 18px;
}
.single-company-url {
  display: block;
  margin-top: 24px;
  font-size: 16px;
  font-weight: 500;
}
.single-company-url a {
  color: #006CFF;
  text-decoration: underline;
  margin-left: 10px;
}
.single-info {
  display: inline-flex;
  justify-content: start;
  align-items: center;
}
.single-area {
  display: inline-flex;
  font-size: 16px;
  font-weight: 500;
  padding-right: 10px;
  border-right: 1.5px solid #000;
}
.single-industry {
  display: inline-flex;
  font-size: 16px;
  font-weight: 500;
  padding-left: 10px;
}
.single-line {
  border-top: 1px solid #aaa;
  margin-top: 40px;
  margin-bottom: 40px;
}
.single-content {
  margin-bottom: 48px;
}
.single-content h3 {
  position: relative;
  color: #22b5be;
  font-size: 24px;
  font-weight: 700;
  padding-left: 24px;
  margin-top: 36px;
  line-height: 1.6em;
}
.single-content h3::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 100%;
  background-color: #22b5be;
}
.single-content p {
  color: #000;
  font-weight: 400;
  line-height: 1.6em;
  font-size: 16px;
  margin-top: 16px;
}
.single-content b {
  display: inline-block;
  font-size: 18px;
  line-height: 1.6em;
  margin: 18px 0;
}
.single-content img {
  max-width: 100%;
  margin-top: 20px;
}
.single-bottombtn-area {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}
.single-bottombtn {
  min-width: 200px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 14px 28px;
  border: 1.5px solid #22b5be;
  border-radius: 10px;
  background-color: #fff;
  color: #22b5be;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
.single-bottombtn span {
  color: #22b5be;
  font-size: 14px;
  font-weight: 500;
  margin-right: 14px;
}