@use "../../common/scss/mixin" as *;

.main {
  width: 100vw;

  &-inner {
    width: 960px;
    margin: 0 auto;
  }
}

// 記事詳細
.single {
  width: 100%;

  &-topbtn-area {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
  }

  &-topbtn {
    box-sizing: border-box;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0px 28px;
    border: 1.5px solid $green;
    border-radius: 10px;
    background-color: #fff;
    color: $green;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;

    span {
      color: $green;
      font-size: 14px;
      font-weight: 500;
      margin-right: 14px;
    }
  }

  &-update {
    color: #aaa;
    font-size: 14px;
    font-weight: 500;

    &-time {
      margin-right: 14px;
    }
  }

  &-heading {
    font-size: 28px;
    line-height: 1.6em;
    margin-top: 16px;
  }

  &-tag {
    display: inline-block;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    background-color: $green;
    border-radius: 6px;
    padding: 10px 16px;
    margin-right: 4px;
    margin-bottom: 8px;

    &-area {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin-top: 32px;
    }
  }

  &-img {
    width: 100%;
    height: 480px;
    object-fit: cover;
    margin-top: 32px;
  }


  &-company {
    display: inline-block;
    font-size: 20px;
    letter-spacing: .1em;
    font-weight: 700;
    margin-right: 18px;

    &-url {
      display: block;
      margin-top: 24px;
      font-size: 16px;
      font-weight: 500;

      a {
        color: #006CFF;
        text-decoration: underline;
        margin-left: 10px;
      }
    }
  }

  &-info {
    display: inline-flex;
    justify-content: start;
    align-items: center;
  }

  &-area {
    display: inline-flex;
    font-size: 16px;
    font-weight: 500;
    padding-right: 10px;
    border-right: 1.5px solid #000;
  }

  &-industry {
    display: inline-flex;
    font-size: 16px;
    font-weight: 500;
    padding-left: 10px;
  }

  &-line {
    border-top: 1px solid #aaa;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  &-content {
    margin-bottom: 48px;

    h3 {
      position: relative;
      color: $green;
      font-size: 24px;
      font-weight: 700;
      padding-left: 24px;
      margin-top: 36px;
      line-height: 1.6em;

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 6px;
        height: 100%;
        background-color: $green;
      }
    }

    p {
      color: #000;
      font-weight: 400;
      line-height: 1.6em;
      font-size: 16px;
      margin-top: 16px;
    }
    
    b {
      display: inline-block;
      font-size: 18px;
      line-height: 1.6em;
      margin: 18px 0;
    }

    img {
      max-width: 100%;
      margin-top: 20px;
    }
  }


  &-bottombtn-area {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
  }

  &-bottombtn {
    min-width: 200px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 14px 28px;
    border: 1.5px solid $green;
    border-radius: 10px;
    background-color: #fff;
    color: $green;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;

    span {
      color: $green;
      font-size: 14px;
      font-weight: 500;
      margin-right: 14px;
    }
  }
}

// レスポンシブ
// タブレットサイズ
@include mq(lg) {
  .main {
    width: 100%;

    &-inner {
      width: 740px;
    }
  }

  // 記事詳細ページ
  .single {

    &-topbtn-area {
      margin: 32px 0;
    }

    &-heading {
      font-size: 22px;
      margin-top: 16px;
    }

    &-tag {
      font-size: 12px;
      border-radius: 6px;
      padding: 10px 14px;
      margin-right: 4px;
      margin-bottom: 8px;

      &-area {
        margin-top: 24px;
      }
    }

    &-img {
      width: 740px;
      height: 49vw;
      margin-top: 16px;
    }

    &-content {
      margin-bottom: 32px;

      h3 {
        color: $green;
        font-size: 20px;
        margin-top: 20px;
        line-height: 1.6em;
      }

      p {
        color: #000;
        font-size: 16px;
        margin-top: 16px;
        line-height: 1.6em;
      }

      b {
        display: inline-block;
        font-size: 16px;
        line-height: 1.6em;
        margin: 16px 0;
      }

      img {
        max-width: 100%;
        margin-top: 20px;
      }
    }

    &-company {
      display: inline-block;
      font-size: 16px;
      margin-right: 16px;

      &-url {
        display: block;
        margin-top: 16px;
        font-size: 14px;
        font-weight: 500;
        
        a {
          color: #006CFF;
          text-decoration: underline;
          margin-left: 10px;
        }
      }
    }

    &-area {
      font-size: 14px;
      padding-right: 8px;
      border-right: 1px solid #000;
    }

    &-industry {
      font-size: 14px;
      padding-left: 8px;
    }

    &-line {
      border-top: 1px solid #aaa;
      margin-top: 24px;
      margin-bottom: 24px;
    }
  }
}

// レスポンシブ
// スマホサイズ
@include mq(sm) {
  .main {
    width: 100%;

    &-inner {
      width: 100%;
      padding: 0 10px;
    }
  }

  // 記事詳細
  .single {
    width: 100%;
    position: relative;

    &-topbtn-area {
      margin: 16px 0 24px;
    }

    &-topbtn {
      min-width: 130px;
      height: 40px;
      padding: 12px 16px;
      border-radius: 8px;
      font-size: 11px;

      span {
        font-size: 12px;
        margin-right: 10px;
      }
    }


    &-heading {
      font-size: 16px;
      line-height: 1.6em;
      margin-top: 16px;
    }

    &-tag {
      font-size: 12px;
      border-radius: 6px;
      padding: 6px 10px;
      margin-right: 4px;
      margin-bottom: 6px;

      &-area {
        margin-top: 16px;
      }
    }

    &-img {
      width: 100%;
      height: 45vw;
      margin-top: 16px;
    }

    &-content {
      margin-bottom: 32px;

      h3 {
        font-size: 16px;
        margin-top: 24px;
      }

      p {
        color: #000;
        font-size: 12px;
        margin-top: 16px;
      }

      b {
        display: inline-block;
        font-size: 12px;
        line-height: 1.6em;
        margin: 12px 0;
      }

      img {
        max-width: 100%;
        margin-top: 16px;
      }
    }

    &-company {
      display: block;
      font-size: 14px;
      margin: 16px 0px 0;

      &-url {
        display: block;
        margin-top: 12px;
        font-size: 12px;
        font-weight: 500;
    
        a {
          color: #006CFF;
          text-decoration: underline;
          margin-left: 10px;
        }
      }
    }


    &-area {
      display: block;
      font-size: 12px;
      padding-right: 6px;
      margin-top: 16px;
    }

    &-industry {
      font-size: 12px;
      padding-left: 6px;
      margin-top: 16px;
    }

    &-line {
      border-top: 1px solid #aaa;
      margin-top: 24px;
      margin-bottom: 24px;
    }

    &-bottombtn-area {
      margin: 32px 0;
    }

    &-bottombtn {
      min-width: 180px;
      height: 42px;
      padding: 12px 24px;
      border: 1.5px solid $green;
      border-radius: 10px;
      background-color: #fff;
      color: $green;
      font-size: 11px;
      font-weight: 500;
      cursor: pointer;

      span {
        color: $green;
        font-size: 12px;
        font-weight: 500;
        margin-right: 10px;
      }
    }
  }
}