//ブレイクポイント
$breakpoints: (
  sm: 767,
  lg: 1000,
);

$mediaquerys: (
  sm: "screen and (max-width: #{map-get($breakpoints,'sm')}px)",
  // md: "screen and (max-width: #{map-get($breakpoints,'md')}px)",
  lg: "screen and (max-width: #{map-get($breakpoints,'lg')}px)",
);

//メディアクエリ
@mixin mq($mediaquery: sm) {
  @media #{map-get($mediaquerys, $mediaquery)} {
    @content;
  }
}