.error {
  width: 100vw;
  height: calc(100vh - 90px);
  background-color: #EFEFEF;
  padding-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.error-inner {
  width: 720px;
  padding: 48px 24px;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
}
.error-title {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.6em;
}
.error-txt {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  margin-top: 32px;
  line-height: 2em;
}
.error-link {
  display: inline-block;
  color: #22b5be;
  font-size: 16px;
  font-weight: 500;
  margin-top: 28px;
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .error {
    height: calc(100vh - 64px);
    padding-top: 64px;
  }
}
@media screen and (max-width: 767px) {
  .error {
    height: calc(100vh - 56px);
    padding-top: 56px;
    padding: 56px 16px 0;
  }
  .error-inner {
    width: 100%;
    padding: 20px 10px;
    border-radius: 8px;
  }
  .error-title {
    font-size: 18px;
    line-height: 1.6em;
  }
  .error-txt {
    font-size: 14px;
    font-weight: 500;
    margin-top: 20px;
    line-height: 2em;
  }
  .error-link {
    color: #22b5be;
    font-size: 14px;
    margin-top: 20px;
  }
}