/* ヘッダー */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 90px;
  background-color: #fff;
}

.header {

  &-inner {
    max-width: initial;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 28px;
  }

  &-logo-link {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-logo-txt {
    color: #000;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: .4rem;
    
    span {
      display: inline-block;
      font-family: 'Lato', sans-serif;
      color: #22B5BE;
      font-size: 14px;
      letter-spacing: 0;
      vertical-align: middle;
      margin-left: 18px;
    }
  }

  &-gnav {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .c-gnav {
      list-style: none;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 100%;
      padding-right: 0px;
    
      li {
        height: 100%;
        font-size: 14px;
        font-weight: 700;
        padding-inline: 16px;
        letter-spacing: .1em;

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          text-decoration: none;
        }
      }
    }
  }

  &-login {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .1em;
    padding-inline: 16px;
    padding: 1.4rem;
    padding-top:calc(1.4rem + 8px);
    padding-bottom:calc(1.4rem - 8px);
    margin-right: 10px;
    margin-bottom: 16px;
    border-radius: 0 0 8px 8px;
    background-color: #EFEFEF;
  }

  &-signup {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .1em;
    padding-inline: 16px;
    padding: 2rem;
    padding-top:calc(2rem + 8px);
    padding-bottom:calc(2rem - 8px);
    margin-bottom: 16px;
    border-radius: 0 0 8px 8px;
    background-color: #22B5BE;

    img {
      margin-right: 16px;
    }
  }
}

// ページタイトル
.page-title {
  position: relative;
  width: 100%;
  height: 128px;
  padding: 0 80px;
  margin-top: 90px;
  overflow: hidden;
  display: flex;
  justify-content: start;
  align-items: center;
  background-image: linear-gradient(90deg, #47a384, #20b6bf);

  &-txt {

    h1 {
      color: #fff;
      font-size: 26px;
    }

    p {
      color: #fff;
      font-family: 'Lato', sans-serif;
      font-size: 14px;
      font-weight: 700;
      margin-top: 10px;
    }
  }

  &-bg {
    position: absolute;
    width: 1110px;
    height: 168px;
    bottom: 0;
    right: 0;
    background-image: url(../images/bg_page_title.png);
    background-size: cover;
  }
}

// 入力ステップ
.formstep {
  display: flex;
  width: 400px;
  position: relative;
  margin: 64px auto ;
  text-align: center;
  overflow: hidden;
  list-style-type: none;

  li {
    font-size: 20px;
    font-weight: 700;
    position: relative;
    color: #cccccc;
    width: 33.333%;
    
    span {
      font-family: 'Lato', sans-serif;
      font-size: 24px;
      background: #CCCCCC;
      color: #fff;
      display: inline-block;
      font-weight: 600;
      margin-bottom: 12px;
      width: 64px;
      line-height: 64px;
      border-radius: 50%;
    }
  }

  li:after {
    background: #CCCCCC;
    content: "";
    width: calc(100% - 64px);
    height: 4px;
    position: absolute;
    left: calc(-50% + 32px);
    top: 32px;
  }

  li:first-child:after {
    display: none;
  }

  .current {
    color: #22B5BE
  }

  .current span {
    background: #22B5BE
  }
}

// 入力フォーム
.formset {
  display: block;
  margin-top: 32px;

  &-title {
    font-size: 18px;
    font-weight: 500;

    span {
      color: red;
    }
  }

  &-contents {
    margin-top: 16px;
    line-height: 1.6;

    input {
      font-size: 16px;
      letter-spacing: .08em;
      width: 480px;
      padding: 16px;
      border: 1px solid #3E3F40;
      border-radius: 8px;
    }
  }

  // フォームボタン
  &-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
  }
  // 内容確認ボタン
  &-confirm-btn {
    width: 180px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    background-color: #22B5BE;
    margin-right: 16px;
    padding: 16px;
    border: 0 solid #fff;
    border-radius: 8px;
  }
  // ログインはこちら
  &-login-btn {
    display: inline-block;
    // width: 180px;
    height: 56px;
    line-height: 56px;
    color: #fff ;
    font-size: 16px;
    font-weight: 700;
    background-color: #cccccc;
    padding: 0 26px;
    border: 0 solid #fff;
    border-radius: 8px;
  }
  // 内容修正ボタン
  &-fix-btn {
    display: inline-block;
    // width: 180px;
    height: 56px;
    line-height: 56px;
    color: #fff ;
    font-size: 16px;
    font-weight: 700;
    background-color: #cccccc;
    padding: 0 26px;
    margin-right: 16px;
    border: 0 solid #fff;
    border-radius: 8px;
  }
  // 登録確定ボタン
  &-register-btn {
    width: 180px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    background-color: #22B5BE;
    padding: 16px;
    border: 0 solid #fff;
    border-radius: 8px;
  }
}

// 同意テキスト
.agreement-txt {
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.6em;

  a {
    color: red;
    text-decoration: underline;
  }
}

// サンクスページ
.thanks {
  width: 100%;
  padding-bottom: 80px;

  &-inner {
    width: 800px;
    margin: 0 auto;
  }

  &-headding {
    font-size: 24px;
    text-align: center;
    font-weight: 500;
  }
  
  &-txt {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
    margin-top: 48px;
  }
}

// フッター
.footer {
  width: 100vw;
  background-color: #3E3F40;
  padding-top: 48px;
  padding-bottom: 24px;

  &-inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
  }

  &-contents {
    display: grid;
    grid-template-columns: 170px 1fr;
  }

  &-logo {
    height: 60px;
    background-color: #20b6bf;
  }

  // フッターナビ
  &-gnav {
    max-width: initial;
    display: flex;
    align-items: center;
  }
  
  .r-gnav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;

    li {
      color: #fff;
      height: 60px;
      font-size: 14px;
      font-weight: 500;
      padding-left: 32px;
      letter-spacing: .1em;
    
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        text-decoration: none;
      }
    }
  }

  // フッター下部
  &-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
  }

  &-adress {
    color: #fff;
    font-size: 12px;
    font-weight: 500;
  }

  &-policy {
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    text-decoration: underline;
  }
  
  .copyright {
    width: 100%;
    text-align: center;
    color: #cccccc;
    font-size: 12px;
    font-weight: 500;
    margin-top: 32px;
  }
}