@use "../../common/scss/mixin" as *;

.about {
  position: relative;
  overflow: hidden;

  &-inner {
    width: 960px;
    margin: 0 auto;
  }

  &-ttl {
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    
    span {
      display: block;
      @include lato;
      font-size: 56px;
      font-weight: 700;
      letter-spacing: .06em;
      margin-bottom: 16px;
    }
  }

  // ナビ
  &-nav {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

    &-item {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 168px;
      height: 168px;
      background-color: #fff;
      border-radius: 84px;
      border: 3px solid $green;
      margin-inline: 16px;
      box-shadow: 2px 2px 8px 1px rgba(102, 197, 165, 0.4);
      transition: .3s ease;
      
        &:hover {
          box-shadow: 1px 1px 2px 1px rgba(102, 197, 165, 0.4);
          background-color: $green;
          
          .about-nav-ttl {
            color: #fff;
          }
          
          .about-nav-tri {
            background-color: #fff;
          }
        }
      
      a {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 84px;
      }
    }

    &-ttl {
      display: block;
      text-align: center;
      font-size: 24px;
      font-weight: 700;
      color: $green;
      margin-top: 24px;
      transition: .3s ease;

      span {
        display: block;
        font-size: 16px;
        @include lato;
        margin-top: 16px;
      }
    }

    &-tri {
      width: 12px;
      height: calc(tan(60deg) * 12px / 2);
      background-color: $green;
      clip-path: polygon(0 0, 100% 0, 50% 100%);
      margin-top: 24px;
      transition: .3s ease;
    }
  }

  // 背景
  &-bg {
    position: absolute;
    top: 218px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    z-index: -1;

    &-sp {
      display: none;
    }
  }

  &-bg-r,
  &-bg-l {
    display: inline-block;
    object-fit: contain;
    min-width: 308px;
  }

  &-bg-r {
    width: 21.5vw;
  }

  &-bg-l {
    width: 20.5vw;
  }
}

// MV
.mv {
  position: relative;
  margin: 80px 0;

  &-sub-heading {
    font-weight: 700;
    font-size: 32px;
    color: #000;
    text-align: center;

    span {
      color: $green;
    }
  }

  &-heading {
    font-weight: 700;
    font-size: 50px;
    line-height: 1.4em;
    margin-top: 12px;
    text-align: center;

    &-sp {
      display: none;
    }
    
    span {
      display: inline-block;
      position: relative;
      margin-top: 12px;
  
      &:after { 
        @include under-l;
      }
    }
  }

  &-img {
    display: inline-block;
    width: 100%;
    margin-top: 80px;

    &-sp {
      display: none;
    }
  }

  &-txt {
    position: relative;
    display: block;
    width: 540px;
    height: 60px;
    line-height: 60px;
    border-radius: 30px;
    text-align: center;
    font-size: 26px;
    font-weight: 500;
    color: #fff;
    background-color: $green;
    margin: 64px auto 0;
  }

  &-msg {
    font-weight: 700;
    font-size: 50px;
    line-height: 1.4em;
    margin-top: 32px;
    text-align: center;

    &-sp {
      display: none;
    }
  
    span {
      display: inline-block;
      position: relative;
      margin-top: 12px;
  
      &:after {
        @include under-l;
      }
    }
  }
}

// 申込の流れ
.step {
  width: 100%;
  margin-top: 100px;
  padding-top: 24px;

  &-inner {
    width: 960px;
    margin: 0 auto;
  }

  &-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    width: 100%;
    margin-top: 64px;
  }

  &-img {
    width: 270px;
    height: 190px;
    margin: 0 10px 20px;
    
    img {
      @include img-fit;
      object-fit: contain;
    }
  }
  
  &-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 190px;
    margin: 0 10px 10px;
    
    img {
      width: 100%;
      height: 27px;
      object-fit: contain;
    }
  }
}

// よくある質問
.faq {
  width: 100%;
  margin-top: 100px;
  padding-top: 24px;

  &-inner {
    width: 960px;
    margin: 0 auto;
  }

  .accordion {
    position: relative;
    width: 100%;
    margin-top: 48px;

    &-ttl {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      padding: 22px 28px;
      background-color: #fff;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      
      h4 {
        color: #000;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.6em;

        span {
          @include lato;
          color: $green;
          font-size: 32px;
          margin-right: 10px;
        }
      }
        
      
      &.open {
        .accordion-btn {
          transition: .3s;
          transform: rotate(45deg);
        }
      }
    }
    
    &-btn {
      position: relative;
      display: inline-block;
      font-size: 32px;
      @include lato;
      color: $green;
    }

    &-content {
      display: none;
      padding: 22px 28px;
      border-bottom: 1px solid #ccc;
      background-color: #fff;

      p {
        color: #000;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.6em;
      }
    }
  }
}

// 活用事例
.case {
  width: 100%;
  margin-top: 100px;
  padding-top: 24px;
  padding-bottom: 48px;

  &-inner {
    width: 960px;
    margin: 0 auto;
  }

  &-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-top: 64px;

    li {
      display: block;
      width: 310px;
      position: relative;
      background-color: #fff;
      padding-bottom: 48px;
      border-radius: 10px;
      box-shadow: 4px 4px 16px rgba(0, 0, 0, .14);
    }
  }

  &-img {
    width: 310px;
    height: 220px;
    position: relative;

    img {
      @include img-fit;
      border-radius: 10px 10px 0 0;
    }
  }

  &-tag {
    position: absolute;
    top: 12px;
    left: 8px;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    padding: 8px 16px;
    background-color: $green;
    border-radius: 15px;
  }

  &-txt {
    font-size: 15px;
    font-weight: 400;
    line-height: 2;
    margin: 16px 10px;
    padding: 10px;
    background-color: #f9fafc;
    border-radius: 8px;
  }

  &-company {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;
    margin: 16px 10px;
  }

  &-btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    display: block;
    width: 64px;
    height: 64px;
    border-radius: 32px;
    box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, .14);
    transition: .3s ease;
  
    &:hover {
      transform: translate(-50%, calc(50% + 4px));
      box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, .14);
    }

    img {
      @include img-fit;
    }
  }
}

// 会員登録セクション
.registration {
  background-image: linear-gradient(90deg, #47a384, #20b6bf);
  position: relative;
  width: 100%;
  height: 540px;
  margin-top: 48px;
  margin-bottom: 0px;

  &-inner {
    width: 960px;
    margin: 0 auto;
    position: relative;
    padding-top: 100px;
    z-index: 10;
  }

  &-img {
    position: absolute;
    top: -42px;
    right: 0;
    width: 200px;
    height: 200px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &-btn-txt {
    display: block;
    width: 480px;
    margin: 0 auto 0;
  }

  &-btn1 {
    display: block;
    width: 680px;
    height: 110px;
    color: $green;
    font-size: 32px;
    font-weight: 700;
    line-height: 90px;
    letter-spacing: .12em;
    text-align: center;
    border-radius: 60px;
    margin: 48px auto;
    transition: .3s ease;
    position: relative;
    overflow: hidden;
  
    &:hover {
      color: #fff;
  
      &::after {
        transform: translateX(0);
      }
    }
  
    &::before,
    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      z-index: -2;
      transition: .3s ease;
    }
  
    &::after {
      background-color: #333;
      z-index: -1;
      transform: translateX(-100%);
    }

    span {
      font-size: 72px;
      font-weight: 900;
    }
  }

  &-txt {
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
  }

  &-btn2 {
    display: block;
    width: 320px;
    height: 72px;
    color: $green;
    font-size: 20px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: .12em;
    text-align: center;
    border-radius: 60px;
    background-color: #fff;
    margin: 24px auto;
    transition: .3s ease;
    
    &:hover {
      color: #fff;
      background-color: #aaa;
    }
  }

  &-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 540px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    z-index: 1;

    img {
      display: block;
      object-fit: contain;
      width: 460px;

      @media screen and (max-width: 1440px) {
        width: 320px;
      }
    }
  }
}

// レスポンシブ
// タブレットサイズ
@include mq(lg) {
  // 活用事例
  .case {
    position: relative;
    padding-top: 120px;
    margin-top: 0px;
    margin-bottom: 20px;

    &-inner {
      width: 420px;
    }

    &-list {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 48px;

      li {
        width: 100%;
        padding-bottom: 32px;
        margin-bottom: 64px;
      }
    }

    &-img {
      width: 100%;
      height: 240px;
    }
  }

  // 会員登録セクション
  .registration {
    height: 500px;

    &-inner {
      width: 640px;
      padding-top: 140px;
    }

    &-img {
      width: 240px;
      height: 240px;
      top: -140px;
      right: 50%;
      transform: translateX(50%);
    }

    &-btn1 {
      width: 560px;
      height: 90px;
      line-height: 80px;
      font-size: 28px;
      margin: 32px auto;

      span {
        font-size: 64px;
      }
    }

    &-bg {
      img {
        width: 350px;
        transform: translateX(30px) translateY(-20px);
      }

      img:first-child {
        transform: translateX(-80px);
      }
    }
  }
}

// レスポンシブ
// タブレットサイズ
@include mq(lg) {
  .about {
    width: 100%;

    &-inner {
      width: 740px;
    }

    &-ttl {
      font-size: 16px;

      span {
        font-size: 56px;
        margin-bottom: 16px;
      }
    }

    // ナビ
    &-nav {
      display: flex;
      justify-content: center;
      align-items: center;

      &-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 168px;
        height: 168px;
        border-radius: 84px;
        margin-inline: 16px;

        a {
          border-radius: 84px;
        }
      }

      &-ttl {
        font-size: 24px;
        margin-top: 24px;

        span {
          font-size: 16px;
          margin-top: 16px;
        }
      }

      &-tri {
        width: 12px;
        height: calc(tan(60deg) * 12px / 2);
        background-color: $green;
        clip-path: polygon(0 0, 100% 0, 50% 100%);
        margin-top: 24px;
      }
    }

    // 背景
    &-bg {
      display: none;
    }

    &-bg-sp {
      display: flex;
      justify-content: space-between;
      align-items: start;
      position: absolute;
      width: 100%;
      z-index: -1;
      top: 192px;
      left: 0;
    }

    &-bg-r,
    &-bg-l {
      min-width: 0px;
    }

    &-bg-r {
      width: 26vw;
    }

    &-bg-l {
      width: 25vw;
    }
  }

  // MV
  .mv {
    position: relative;
    margin: 64px 0;

    &-sub-heading {
      font-size: 28px;
    }

    &-heading {
      font-size: 44px;
      margin-top: 12px;

      span {
        display: inline-block;
        position: relative;
        margin-top: 12px;

        &:after {
          @include under-l;
        }
      }
    }

    &-img {
      display: inline-block;
      width: 100%;
      margin-top: 64px;
    }

    &-txt {
      width: 500px;
      height: 56px;
      line-height: 56px;
      border-radius: 28px;
      font-size: 22px;
      margin: 64px auto 0;
    }

    &-msg {
      font-size: 44px;
      line-height: 1.4em;
      margin-top: 32px;
      text-align: center;

      span {
        display: inline-block;
        position: relative;
        margin-top: 12px;

        &:after {
          @include under-l;
        }
      }
    }
  }

  // 申込の流れ
  .step {
    margin-top: 0px;
    padding-top: 80px;

    &-inner {
      width: 740px;
    }

    &-nav {
      margin-top: 48px;
    }

    &-img {
      width: calc(33.3% - 30px);
      height: 180px;
      margin: 0 6px;

      img {
        @include img-fit;
        object-fit: contain;
      }
    }

    &-arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 14px;
      height: 180px;
      margin: 0 6px 6px;

      img {
        width: 100%;
        height: 27px;
        object-fit: contain;
      }
    }
  }

  // よくある質問
  .faq {
    margin-top: 0px;
    padding-top: 80px;

    &-inner {
      width: 740px;
      margin: 0 auto;
    }
  }

  // 活用事例
  .case {
    width: 100%;
    margin-top: 100px;
    padding-top: 24px;
    padding-bottom: 160px;

    &-inner {
      width: 500px;
      margin: 0 auto;
    }

    &-img {
      width: 100%;
      height: 280px;
      position: relative;
    }
  }
}

// レスポンシブ
// スマホサイズ
@include mq(sm) {
  .about {
    width: 100%;

    &-inner {
      width: calc(100% - 16px);
    }

    &-ttl {
      font-size: 14px;

      span {
        font-size: 32px;
        margin-bottom: 8px;
      }
    }

    // ナビ
    &-nav {
      justify-content: center;
      align-items: center;

      &-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90px;
        height: 90px;
        border-width: 2px;
        border-radius: 45px;
        margin-inline: 4px;

        a {
          border-radius: 40px;
        }
      }

      &-ttl {
        font-size: 12px;
        margin-top: 16px;

        span {
          font-size: 12px;
          margin-top: 8px;
        }
      }

      &-tri {
        width: 8px;
        height: calc(tan(60deg) * 8px / 2);
        background-color: $green;
        clip-path: polygon(0 0, 100% 0, 50% 100%);
        margin-top: 12px;
      }
    }

    // 背景
    &-bg-sp {
      top: 136px;
      left: 0;
    }

    &-bg-r {
      width: 38.2vw;
    }

    &-bg-l {
      width: 38.5vw;
    }
  }

  // MV
  .mv {
    position: relative;
    margin: 32px 0 48px;

    &-sub-heading {
      font-size: 16px;
    }

    &-heading {
      display: none;

      &-sp {
        display: block;
        text-align: center;
        width: 310px;

        font-size: 24px;
        margin: 0px auto 0;
        
        span {
          display: inline-block;
          position: relative;
          margin-top: 16px;
          
          &:after {
            @include under-l;
          }
        }
      }
    }

    &-img {
      display: none;
      
      &-sp {
        display: inline-block;
        width: 100%;
        margin-top: 16px;
      }
    }

    &-txt {
      width: 300px;
      height: 50px;
      line-height: 50px;
      border-radius: 25px;
      font-size: 13px;
      margin: 24px auto 0;
    }

    &-msg {
      display: none;
      
      &-sp {
        display: block;
        text-align: center;
        font-weight: 700;
        text-align: center;
        width: 300px;
        font-size: 22px;
        margin: 24px auto 0;
    
        span {
          display: inline-block;
          position: relative;
          margin-top: 16px;
    
          &:after {
            @include under-l;
          }
        }
      }
    }
  }

  // 申込の流れ
  .step {
    margin-top: 0px;
    padding-top: 80px;

    &-inner {
      width: 300px;
    }

    &-nav {
      margin-top: 32px;
    }

    &-img {
      width: 100%;
      height: 196px;
      margin: 0 0 8px;

      img {
        @include img-fit;
        object-fit: contain;
      }
    }

    &-arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      transform: rotate(90deg);
      margin: 0;

      img {
        width: 100%;
        height: 27px;
        object-fit: contain;
      }
    }
  }

  // よくある質問
  .faq {
    margin-top: 0px;
    padding-top: 80px;

    &-inner {
      width: calc(100% - 16px);
      margin: 0 auto;
    }

    .accordion {
      margin-top: 32px;

      &-ttl {
        padding: 10px 12px;
        background-color: #fff;

        h4 {
          color: #000;
          font-size: 14px;

          span {
            font-size: 18px;
            margin-right: 6px;
          }
        }
      }

      &-btn {
        font-size: 24px;
        @include lato;
        color: $green;
        margin-left: 10px;
      }

      &-content {
        display: none;
        padding: 10px 12px;
        border-bottom: 1px solid #ccc;
        background-color: #fff;

        p {
          color: #000;
          font-size: 12px;
        }
      }
    }
  }

  // 活用事例
  .case {
    margin-top: 24px;
    padding-top: 48px;
    padding-bottom: 27.25vw;

    &-inner {
      width: 300px;;
    }

    &-list {
      margin-top: 32px;

      li {
        width: 100%;
        padding-bottom: 32px;
        margin-bottom: 64px;
      }

      li:last-child {
        margin-bottom: 24px;
      }
    }

    &-img {
      width: 100%;
      height: 180px;
    }

    &-txt {
      font-size: 14px;
    }

    &-company {
      font-size: 14px;
    }
  }

  // 会員登録セクション
  .registration {
    height: 100vw;

    &-inner {
      width: 93.75vw;
      padding-top: 25vw;
    }

    &-img {
      width: 50vw;
      height: 50vw;
      top: -30vw;
      right: 50%;
      transform: translateX(50%);
    }

    &-btn-txt {
      width: 100%;
    }

    &-btn1 {
      width: 100%;
      height: 15vw;
      line-height: 12.5vw;
      font-size: 5vw;
      margin: 5vw auto 7.5vw;

      span {
        font-size: 28px;
      }
    }

    &-txt {
      font-size: 3.75vw;
    }

    &-btn2 {
      width: 80%;
      height: 15vw;
      line-height: 15vw;
      font-size: 5vw;
      margin: 5vw auto 7.5vw;

      span {
        font-size: 28px;
      }
    }

    &-bg {
      height: 100%;

      img {
        width: 68.75vw;
        transform: translateX(-5vw) translateY(15vw);
      }

      img:first-child {
        transform: translateX(-12.5vw) translateY(-5vw);
      }
    }
  }
}
