.about {
  position: relative;
  overflow: hidden;
}
.about-inner {
  width: 960px;
  margin: 0 auto;
}
.about-ttl {
  display: block;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #000;
}
.about-ttl span {
  display: block;
  font-family: "Lato", sans-serif;
  font-size: 56px;
  font-weight: 700;
  letter-spacing: 0.06em;
  margin-bottom: 16px;
}
.about-nav {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-nav-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 168px;
  background-color: #fff;
  border-radius: 84px;
  border: 3px solid #22b5be;
  margin-inline: 16px;
  box-shadow: 2px 2px 8px 1px rgba(102, 197, 165, 0.4);
  transition: 0.3s ease;
}
.about-nav-item:hover {
  box-shadow: 1px 1px 2px 1px rgba(102, 197, 165, 0.4);
  background-color: #22b5be;
}
.about-nav-item:hover .about-nav-ttl {
  color: #fff;
}
.about-nav-item:hover .about-nav-tri {
  background-color: #fff;
}
.about-nav-item a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 84px;
}
.about-nav-ttl {
  display: block;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #22b5be;
  margin-top: 24px;
  transition: 0.3s ease;
}
.about-nav-ttl span {
  display: block;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  margin-top: 16px;
}
.about-nav-tri {
  width: 12px;
  height: calc(tan(60deg) * 12px / 2);
  background-color: #22b5be;
  -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%);
          clip-path: polygon(0 0, 100% 0, 50% 100%);
  margin-top: 24px;
  transition: 0.3s ease;
}
.about-bg {
  position: absolute;
  top: 218px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  z-index: -1;
}
.about-bg-sp {
  display: none;
}
.about-bg-r, .about-bg-l {
  display: inline-block;
  -o-object-fit: contain;
     object-fit: contain;
  min-width: 308px;
}
.about-bg-r {
  width: 21.5vw;
}
.about-bg-l {
  width: 20.5vw;
}

.mv {
  position: relative;
  margin: 80px 0;
}
.mv-sub-heading {
  font-weight: 700;
  font-size: 32px;
  color: #000;
  text-align: center;
}
.mv-sub-heading span {
  color: #22b5be;
}
.mv-heading {
  font-weight: 700;
  font-size: 50px;
  line-height: 1.4em;
  margin-top: 12px;
  text-align: center;
}
.mv-heading-sp {
  display: none;
}
.mv-heading span {
  display: inline-block;
  position: relative;
  margin-top: 12px;
}
.mv-heading span:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 24%;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(90deg, #d6f1e4, #f3eab5);
}
.mv-img {
  display: inline-block;
  width: 100%;
  margin-top: 80px;
}
.mv-img-sp {
  display: none;
}
.mv-txt {
  position: relative;
  display: block;
  width: 540px;
  height: 60px;
  line-height: 60px;
  border-radius: 30px;
  text-align: center;
  font-size: 26px;
  font-weight: 500;
  color: #fff;
  background-color: #22b5be;
  margin: 64px auto 0;
}
.mv-msg {
  font-weight: 700;
  font-size: 50px;
  line-height: 1.4em;
  margin-top: 32px;
  text-align: center;
}
.mv-msg-sp {
  display: none;
}
.mv-msg span {
  display: inline-block;
  position: relative;
  margin-top: 12px;
}
.mv-msg span:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 24%;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(90deg, #d6f1e4, #f3eab5);
}

.step {
  width: 100%;
  margin-top: 100px;
  padding-top: 24px;
}
.step-inner {
  width: 960px;
  margin: 0 auto;
}
.step-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  width: 100%;
  margin-top: 64px;
}
.step-img {
  width: 270px;
  height: 190px;
  margin: 0 10px 20px;
}
.step-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-fit: contain;
     object-fit: contain;
}
.step-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 190px;
  margin: 0 10px 10px;
}
.step-arrow img {
  width: 100%;
  height: 27px;
  -o-object-fit: contain;
     object-fit: contain;
}

.faq {
  width: 100%;
  margin-top: 100px;
  padding-top: 24px;
}
.faq-inner {
  width: 960px;
  margin: 0 auto;
}
.faq .accordion {
  position: relative;
  width: 100%;
  margin-top: 48px;
}
.faq .accordion-ttl {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 22px 28px;
  background-color: #fff;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.faq .accordion-ttl h4 {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.6em;
}
.faq .accordion-ttl h4 span {
  font-family: "Lato", sans-serif;
  color: #22b5be;
  font-size: 32px;
  margin-right: 10px;
}
.faq .accordion-ttl.open .accordion-btn {
  transition: 0.3s;
  transform: rotate(45deg);
}
.faq .accordion-btn {
  position: relative;
  display: inline-block;
  font-size: 32px;
  font-family: "Lato", sans-serif;
  color: #22b5be;
}
.faq .accordion-content {
  display: none;
  padding: 22px 28px;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
}
.faq .accordion-content p {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6em;
}

.case {
  width: 100%;
  margin-top: 100px;
  padding-top: 24px;
  padding-bottom: 48px;
}
.case-inner {
  width: 960px;
  margin: 0 auto;
}
.case-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-top: 64px;
}
.case-list li {
  display: block;
  width: 310px;
  position: relative;
  background-color: #fff;
  padding-bottom: 48px;
  border-radius: 10px;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.14);
}
.case-img {
  width: 310px;
  height: 220px;
  position: relative;
}
.case-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.case-tag {
  position: absolute;
  top: 12px;
  left: 8px;
  display: inline-block;
  color: #fff;
  font-size: 14px;
  padding: 8px 16px;
  background-color: #22b5be;
  border-radius: 15px;
}
.case-txt {
  font-size: 15px;
  font-weight: 400;
  line-height: 2;
  margin: 16px 10px;
  padding: 10px;
  background-color: #f9fafc;
  border-radius: 8px;
}
.case-company {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
  margin: 16px 10px;
}
.case-btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 32px;
  box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.14);
  transition: 0.3s ease;
}
.case-btn:hover {
  transform: translate(-50%, calc(50% + 4px));
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.14);
}
.case-btn img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.registration {
  background-image: linear-gradient(90deg, #47a384, #20b6bf);
  position: relative;
  width: 100%;
  height: 540px;
  margin-top: 48px;
  margin-bottom: 0px;
}
.registration-inner {
  width: 960px;
  margin: 0 auto;
  position: relative;
  padding-top: 100px;
  z-index: 10;
}
.registration-img {
  position: absolute;
  top: -42px;
  right: 0;
  width: 200px;
  height: 200px;
}
.registration-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.registration-btn-txt {
  display: block;
  width: 480px;
  margin: 0 auto 0;
}
.registration-btn1 {
  display: block;
  width: 680px;
  height: 110px;
  color: #22b5be;
  font-size: 32px;
  font-weight: 700;
  line-height: 90px;
  letter-spacing: 0.12em;
  text-align: center;
  border-radius: 60px;
  margin: 48px auto;
  transition: 0.3s ease;
  position: relative;
  overflow: hidden;
}
.registration-btn1:hover {
  color: #fff;
}
.registration-btn1:hover::after {
  transform: translateX(0);
}
.registration-btn1::before, .registration-btn1::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: -2;
  transition: 0.3s ease;
}
.registration-btn1::after {
  background-color: #333;
  z-index: -1;
  transform: translateX(-100%);
}
.registration-btn1 span {
  font-size: 72px;
  font-weight: 900;
}
.registration-txt {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
.registration-btn2 {
  display: block;
  width: 320px;
  height: 72px;
  color: #22b5be;
  font-size: 20px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: 0.12em;
  text-align: center;
  border-radius: 60px;
  background-color: #fff;
  margin: 24px auto;
  transition: 0.3s ease;
}
.registration-btn2:hover {
  color: #fff;
  background-color: #aaa;
}
.registration-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 540px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  z-index: 1;
}
.registration-bg img {
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  width: 460px;
}
@media screen and (max-width: 1440px) {
  .registration-bg img {
    width: 320px;
  }
}

@media screen and (max-width: 1000px) {
  .case {
    position: relative;
    padding-top: 120px;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .case-inner {
    width: 420px;
  }
  .case-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
  }
  .case-list li {
    width: 100%;
    padding-bottom: 32px;
    margin-bottom: 64px;
  }
  .case-img {
    width: 100%;
    height: 240px;
  }
  .registration {
    height: 500px;
  }
  .registration-inner {
    width: 640px;
    padding-top: 140px;
  }
  .registration-img {
    width: 240px;
    height: 240px;
    top: -140px;
    right: 50%;
    transform: translateX(50%);
  }
  .registration-btn1 {
    width: 560px;
    height: 90px;
    line-height: 80px;
    font-size: 28px;
    margin: 32px auto;
  }
  .registration-btn1 span {
    font-size: 64px;
  }
  .registration-bg img {
    width: 350px;
    transform: translateX(30px) translateY(-20px);
  }
  .registration-bg img:first-child {
    transform: translateX(-80px);
  }
}
@media screen and (max-width: 1000px) {
  .about {
    width: 100%;
  }
  .about-inner {
    width: 740px;
  }
  .about-ttl {
    font-size: 16px;
  }
  .about-ttl span {
    font-size: 56px;
    margin-bottom: 16px;
  }
  .about-nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about-nav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 168px;
    border-radius: 84px;
    margin-inline: 16px;
  }
  .about-nav-item a {
    border-radius: 84px;
  }
  .about-nav-ttl {
    font-size: 24px;
    margin-top: 24px;
  }
  .about-nav-ttl span {
    font-size: 16px;
    margin-top: 16px;
  }
  .about-nav-tri {
    width: 12px;
    height: calc(tan(60deg) * 12px / 2);
    background-color: #22b5be;
    -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%);
            clip-path: polygon(0 0, 100% 0, 50% 100%);
    margin-top: 24px;
  }
  .about-bg {
    display: none;
  }
  .about-bg-sp {
    display: flex;
    justify-content: space-between;
    align-items: start;
    position: absolute;
    width: 100%;
    z-index: -1;
    top: 192px;
    left: 0;
  }
  .about-bg-r, .about-bg-l {
    min-width: 0px;
  }
  .about-bg-r {
    width: 26vw;
  }
  .about-bg-l {
    width: 25vw;
  }
  .mv {
    position: relative;
    margin: 64px 0;
  }
  .mv-sub-heading {
    font-size: 28px;
  }
  .mv-heading {
    font-size: 44px;
    margin-top: 12px;
  }
  .mv-heading span {
    display: inline-block;
    position: relative;
    margin-top: 12px;
  }
  .mv-heading span:after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 24%;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(90deg, #d6f1e4, #f3eab5);
  }
  .mv-img {
    display: inline-block;
    width: 100%;
    margin-top: 64px;
  }
  .mv-txt {
    width: 500px;
    height: 56px;
    line-height: 56px;
    border-radius: 28px;
    font-size: 22px;
    margin: 64px auto 0;
  }
  .mv-msg {
    font-size: 44px;
    line-height: 1.4em;
    margin-top: 32px;
    text-align: center;
  }
  .mv-msg span {
    display: inline-block;
    position: relative;
    margin-top: 12px;
  }
  .mv-msg span:after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 24%;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(90deg, #d6f1e4, #f3eab5);
  }
  .step {
    margin-top: 0px;
    padding-top: 80px;
  }
  .step-inner {
    width: 740px;
  }
  .step-nav {
    margin-top: 48px;
  }
  .step-img {
    width: calc(33.3% - 30px);
    height: 180px;
    margin: 0 6px;
  }
  .step-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .step-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14px;
    height: 180px;
    margin: 0 6px 6px;
  }
  .step-arrow img {
    width: 100%;
    height: 27px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .faq {
    margin-top: 0px;
    padding-top: 80px;
  }
  .faq-inner {
    width: 740px;
    margin: 0 auto;
  }
  .case {
    width: 100%;
    margin-top: 100px;
    padding-top: 24px;
    padding-bottom: 160px;
  }
  .case-inner {
    width: 500px;
    margin: 0 auto;
  }
  .case-img {
    width: 100%;
    height: 280px;
    position: relative;
  }
}
@media screen and (max-width: 767px) {
  .about {
    width: 100%;
  }
  .about-inner {
    width: calc(100% - 16px);
  }
  .about-ttl {
    font-size: 14px;
  }
  .about-ttl span {
    font-size: 32px;
    margin-bottom: 8px;
  }
  .about-nav {
    justify-content: center;
    align-items: center;
  }
  .about-nav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border-width: 2px;
    border-radius: 45px;
    margin-inline: 4px;
  }
  .about-nav-item a {
    border-radius: 40px;
  }
  .about-nav-ttl {
    font-size: 12px;
    margin-top: 16px;
  }
  .about-nav-ttl span {
    font-size: 12px;
    margin-top: 8px;
  }
  .about-nav-tri {
    width: 8px;
    height: calc(tan(60deg) * 8px / 2);
    background-color: #22b5be;
    -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%);
            clip-path: polygon(0 0, 100% 0, 50% 100%);
    margin-top: 12px;
  }
  .about-bg-sp {
    top: 136px;
    left: 0;
  }
  .about-bg-r {
    width: 38.2vw;
  }
  .about-bg-l {
    width: 38.5vw;
  }
  .mv {
    position: relative;
    margin: 32px 0 48px;
  }
  .mv-sub-heading {
    font-size: 16px;
  }
  .mv-heading {
    display: none;
  }
  .mv-heading-sp {
    display: block;
    text-align: center;
    width: 310px;
    font-size: 24px;
    margin: 0px auto 0;
  }
  .mv-heading-sp span {
    display: inline-block;
    position: relative;
    margin-top: 16px;
  }
  .mv-heading-sp span:after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 24%;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(90deg, #d6f1e4, #f3eab5);
  }
  .mv-img {
    display: none;
  }
  .mv-img-sp {
    display: inline-block;
    width: 100%;
    margin-top: 16px;
  }
  .mv-txt {
    width: 300px;
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    font-size: 13px;
    margin: 24px auto 0;
  }
  .mv-msg {
    display: none;
  }
  .mv-msg-sp {
    display: block;
    text-align: center;
    font-weight: 700;
    text-align: center;
    width: 300px;
    font-size: 22px;
    margin: 24px auto 0;
  }
  .mv-msg-sp span {
    display: inline-block;
    position: relative;
    margin-top: 16px;
  }
  .mv-msg-sp span:after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 24%;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(90deg, #d6f1e4, #f3eab5);
  }
  .step {
    margin-top: 0px;
    padding-top: 80px;
  }
  .step-inner {
    width: 300px;
  }
  .step-nav {
    margin-top: 32px;
  }
  .step-img {
    width: 100%;
    height: 196px;
    margin: 0 0 8px;
  }
  .step-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .step-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    transform: rotate(90deg);
    margin: 0;
  }
  .step-arrow img {
    width: 100%;
    height: 27px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .faq {
    margin-top: 0px;
    padding-top: 80px;
  }
  .faq-inner {
    width: calc(100% - 16px);
    margin: 0 auto;
  }
  .faq .accordion {
    margin-top: 32px;
  }
  .faq .accordion-ttl {
    padding: 10px 12px;
    background-color: #fff;
  }
  .faq .accordion-ttl h4 {
    color: #000;
    font-size: 14px;
  }
  .faq .accordion-ttl h4 span {
    font-size: 18px;
    margin-right: 6px;
  }
  .faq .accordion-btn {
    font-size: 24px;
    font-family: "Lato", sans-serif;
    color: #22b5be;
    margin-left: 10px;
  }
  .faq .accordion-content {
    display: none;
    padding: 10px 12px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
  }
  .faq .accordion-content p {
    color: #000;
    font-size: 12px;
  }
  .case {
    margin-top: 24px;
    padding-top: 48px;
    padding-bottom: 27.25vw;
  }
  .case-inner {
    width: 300px;
  }
  .case-list {
    margin-top: 32px;
  }
  .case-list li {
    width: 100%;
    padding-bottom: 32px;
    margin-bottom: 64px;
  }
  .case-list li:last-child {
    margin-bottom: 24px;
  }
  .case-img {
    width: 100%;
    height: 180px;
  }
  .case-txt {
    font-size: 14px;
  }
  .case-company {
    font-size: 14px;
  }
  .registration {
    height: 100vw;
  }
  .registration-inner {
    width: 93.75vw;
    padding-top: 25vw;
  }
  .registration-img {
    width: 50vw;
    height: 50vw;
    top: -30vw;
    right: 50%;
    transform: translateX(50%);
  }
  .registration-btn-txt {
    width: 100%;
  }
  .registration-btn1 {
    width: 100%;
    height: 15vw;
    line-height: 12.5vw;
    font-size: 5vw;
    margin: 5vw auto 7.5vw;
  }
  .registration-btn1 span {
    font-size: 28px;
  }
  .registration-txt {
    font-size: 3.75vw;
  }
  .registration-btn2 {
    width: 80%;
    height: 15vw;
    line-height: 15vw;
    font-size: 5vw;
    margin: 5vw auto 7.5vw;
  }
  .registration-btn2 span {
    font-size: 28px;
  }
  .registration-bg {
    height: 100%;
  }
  .registration-bg img {
    width: 68.75vw;
    transform: translateX(-5vw) translateY(15vw);
  }
  .registration-bg img:first-child {
    transform: translateX(-12.5vw) translateY(-5vw);
  }
}